.block-tellstick li {
 font-size: .9em;
 color: #967719;
}

.block-tellstick .tellstick_low_battery {
 background-color: red;
}

.tellstick_sensor.tellstick_old_value,
.tellstick_sensor.tellstick_old_value .sensor_value {
 color: #DDDDDD;
}
